{%extends 'base.html'%} {%block content%}
<div class="border">
    <p align='center'>Welcome to the page for {{user.username}}</p>
    <img align='center' src="{{url_for('static',filename='profile_pics/'+current_user.profile_image)}}" alt="">

    <hr> {% for post in blog_post.items %}
    <h2>
        <a href="{{url_for('users.user_post',username=post.author.username)}}"></a>{{post.author.username}}</h2>
    Written By: <a href="{{url_for('users.user_post, username=post.author.username')}}">{{post.author.username}}</a>

    <p>Published on: {{post.date.strftime('%Y-%m-%d')}}</p>
    <br>
    <p>{{post.text}}</p>
    <br> {% endfor %}

    <hr>
    <nav>
        <ul> {% for page_num in blog_posts.iter_pages(left_edge=1,right_edge=1, left_current=1,right_current=2)%} {% if blog_posts.page == page_num%}
            <li aria-disabled="true"><a href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a></li>
            {%else%}
            <li><a href="{{url_for('users.user_posts',username=user.username,page=page_num)}}">{{page_num}}</a></li>
            {%endif%} {%endfor%}
        </ul>
    </nav>
</div>